$spacing: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 2rem,
  6: 2.5rem,
  7: 3rem,
  8: 4rem,
  9: 5rem,
  10: 6rem,
  11: 7rem,
  12: 8rem
);

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

@each $key, $value in $spacing {

  .m-#{$key} {
    margin: #{$value} !important;
  }

  .mt-#{$key} {
    margin-top: #{$value} !important;
  }

  .mb-#{$key} {
    margin-bottom: #{$value} !important;
  }

  .ml-#{$key} {
    margin-left: #{$value} !important;
  }

  .mr-#{$key} {
    margin-right: #{$value} !important;
  }

  .my-#{$key} {
    margin-top: #{$value} !important;
    margin-bottom: #{$value} !important;
  }

  .mx-#{$key} {
    margin-left: #{$value} !important;
    margin-right: #{$value} !important;
  }

  .p-#{$key} {
    padding: #{$value} !important;
  }

  .pt-#{$key} {
    padding-top: #{$value} !important;
  }

  .pb-#{$key} {
    padding-bottom: #{$value} !important;
  }
  
  .pl-#{$key} {
    padding-left: #{$value} !important;
  }
  
  .pr-#{$key} {
    padding-right: #{$value} !important;
  }

  .py-#{$key} {
    padding-top: #{$value} !important;
    padding-bottom: #{$value} !important;
  }

  .px-#{$key} {
    padding-left: #{$value} !important;
    padding-right: #{$value} !important;
  }

  .w-#{$key} {
    width: #{$value} !important;
  }

  .h-#{$key} {
    height: #{$value} !important;
  }

  .min-w-#{$key} {
    min-width: #{$value} !important;
  }

  .min-h-#{$key} {  
    min-height: #{$value} !important;
  }

  .max-w-#{$key} {
    max-width: #{$value} !important;
  }
}

$sizes: (
  xs: 0.75rem,     // 12px
  sm: 0.875rem,    // 14px
  base: 1rem,      // 16px
  lg: 1.125rem,    // 18px
  xl: 1.25rem,     // 20px
  '2xl': 1.5rem,   // 24px
  '3xl': 1.875rem, // 30px
  '4xl': 2.25rem,  // 36px
  '5xl': 3rem,     // 48px
  '6xl': 3.75rem,  // 60px
  '7xl': 4.5rem    // 72px
);