@use './theme' as theme;
@use './sizing' as sizing;

html {
  font-feature-settings: "cv11";
}

$font-family-body: "Inter var", ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";

$font-family-heading: $font-family-body;

@each $key, $value in sizing.$sizes {
  .text-#{$key} {
    font-size: $value;
  }
}

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$tracking-tighter: -0.05em;
$tracking-tight: -0.025em;
$tracking-normal: 0;
$tracking-wide: 0.025em;
$tracking-wider: 0.05em;
$tracking-widest: 0.1em;

body {
  font-family: $font-family-body;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  font-size: map-get(sizing.$sizes, 'base');
  letter-spacing: $tracking-normal;
}

$heading-scale: (
  1: (size: '5xl', weight: $font-weight-bold, spacing: $tracking-tight),
  2: (size: '4xl', weight: $font-weight-semibold, spacing: $tracking-tight),
  3: (size: '3xl', weight: $font-weight-medium, spacing: $tracking-tight),
  4: (size: '2xl', weight: $font-weight-light, spacing: $tracking-normal),
  5: (size: 'lg', weight: $font-weight-extralight, spacing: $tracking-normal),
);

@each $h, $props in $heading-scale {
  h#{$h} {
    font-family: $font-family-heading;
    font-weight: map-get($props, weight);
    font-size: map-get(sizing.$sizes, map-get($props, size));
    line-height: if($h <= 3, 1.2, 1.3);
    letter-spacing: map-get($props, spacing);
  }
}

@each $name, $color in theme.$theme {
  .text-#{$name} {
    color: #{$color};
  }
}