@use '../variables/theme';
@use '../variables/typography';

a {
    text-decoration: underline;
    color: map-get(theme.$theme, 'primary');
    font-weight: typography.$font-weight-regular;

    &:hover {
        text-decoration: none;
    }

    &[target="_blank"] {
        color: map-get(theme.$theme, 'info');   
    }

    &[target="_blank"]:after {
        content: "↗ ";
        margin-left: 2px;
    }
}